@model IEnumerable<WebOrder.Models.ViewModels.CommandeViewModel>

@{
ViewData["Title"] = "Orders List";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Orders List</h2>
    @if (!Model.Any())
    {
    <div class="alert alert-info">No orders found.</div>
    }
    else
    {
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Order ID</th>
            <th>Client Name</th>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th>status</th>
            <th>Products</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
        <tr>
            <td>@order.Order.OrderId</td>
            <td>@order.Client.FirstName @order.Client.LastName</td>
            <td>@order.Order.CreationDate.ToShortDateString()</td>
            <td>@order.Order.TotalAmount.ToString("C")</td>
                <td>
                @if(order.Order.Status==0)
                {
                    <span  >Pending</span>
                }
                else if(order.Order.Status==1)
                {
                    <span >Shipped</span>
                }
                else if(order.Order.Status==2)
                {
                    <span >Delivered</span>
                }
                else if(order.Order.Status==3)
                {
                    <span >Cancelled</span>
                }
                
                <td>
                <ul class="list-group">
                    @foreach (var orderProduct in order.OrderProducts)
                    {
                    <li class="list-group-item">
                        <strong>@orderProduct.Product.Name</strong> -
                        Quantity: @orderProduct.Quantity -
                        Price: @orderProduct.Product.Price.ToString("C")
                    </li>
                    }
                </ul>
            </td>
                <td>
                    <a asp-action="CancelCommande" asp-route-orderId="@order.Order.OrderId" class="btn btn-danger btn-sm">
                        Cancel
                    </a>
                </td>
            <td>
                <a asp-action="ActiverCommande" asp-route-orderId="@order.Order.OrderId" class="btn btn-primary btn-sm">
                    Activer Commande
                </a>
            </td>
        </tr>
        }
        </tbody>
    </table>
    }
</div>
